node_modules
artifacts
cache
gasreport-*
.env
*.DS_Store
node_modules
build
forge-cache
out
#certora 
.certora_internal*
.certora*
certora-logs/*
certora_debug_log.txt
resource_errors.json
.last_confs 